<h1>Show Event</h1>

<p>
  <strong>Date:</strong>
  <%= @events.event_date.to_date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @events.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @events.description %>
</p>

<p>
  <strong>People:</strong>
  <% @events.people.each do |person| %>
    <p><%= person.name %></p>
  <% end %>
</p>
